
/**
 * WordPress customization
 */


/* If WP-Adminbar is visible */
body.admin-bar {

	#main-nav.fixed-top {
		top: 32px;
	}

	.edit-link a {
		color: #fff !important;
		font-weight: 400 !important;
		text-decoration: none !important;

		&::before {
			content: "\270E";
			display: inline-block;
			margin-right: 5px;
		}

	}
}

/* WordPress Embeds */

.post-thumbnail,
.wp-video,
.embed-responsive {
	margin: 5px 0;
	width: 100% !important;
}

.post,
.post-thumbnail {

	img {
		max-width: 100%;
		height: auto;
	}
}


/* Header */

.navbar-brand {

	img {
		height: 40px;
	}

}

.navbar-static-top {
	margin-bottom: $grid-gutter-width;
}


/* Footer */

#footer {
	background-color: #fff;

	p {
		margin-top: 10px;
	}

	.menu-item {

		a {

			&[aria-current="page"] {
				color: $link-hover-color;
			}
		}
	}

}


/* Sidebar */

.widget-area {

	ul {
		list-style: none;
		padding: 0;
	}

}


/* Author */

.author-avatar {

	.avatar {
		width: 64px;
		height: auto;
	}
}

.author-info {
	margin: 40px 0;

	h2,
	h3 {
		margin-top: 0;
	}

}


/* Posts */

.sticky {

	.card {
		background-color: $gray-100;
	}
}

.entry-meta {
	font-size: small;
	margin-top: $grid-gutter-width/2;
}

.single {

	/*.entry-content,*/
	.post-navigation,
	#comments-title {
		margin: $grid-gutter-width 0;
	}
}

#comments {
	margin-top: $grid-gutter-width;
}

.comment-meta {
	height: 40px;
}

.comment-reply-title {
	margin: $grid-gutter-width 0 $grid-gutter-width/2;
}

.commentlist {
	list-style: none;
	margin: 0 auto;
	width: 68.9%;

	> li.comment {
		margin: 0 0 1.625em;
		padding: 1.625em;
		position: relative;
	}

	.children {
		list-style: none;
		margin-top: $grid-gutter-width;

		> li.comment {
			border-top: 1px solid $gray-300;
			padding-top: $grid-gutter-width;
			position: relative;
		}
	}

	.avatar {
		width: 64px;
		height: 64px;
		border-radius: 50%;
		box-shadow: 0 1px 2px $gray-600;
		padding: 0;
		position: absolute;
		top: 0;
		left: -102px;
	}

}


/* WordPress Blocks */

// Buttons

.wp-block-button {

	&.is-style-outline {

		.wp-block-button__link {
			border: $btn-border-width solid;

			@extend .btn;

			&.has-primary-color {

				@extend .btn-outline-primary;
			}


			&.has-secondary-color {

				@extend .btn-outline-secondary;
			}

			&.has-accent-color {

				@extend .btn-outline-accent;
			}
		}
	}

	&.btn-lg {

		.wp-block-button__link {

			@extend .btn-lg;
		}
	}

	&.btn-sm {

		.wp-block-button__link {

			@extend .btn-sm;
		}
	}

	.wp-block-button__link {

		@extend .btn;
		text-decoration: none;

		&.has-primary-background-color {

			@extend .btn-primary;
		}

		&.has-secondary-background-color {

			@extend .btn-secondary;
		}

		&.has-accent-background-color {

			@extend .btn-accent;
		}
	}
}


// Table

.wp-block-table {

	td,
	th {
		border: inherit;
	}

	table {

		@extend .table;
	}
}


/**
 * Responsive Design using "mixins/_breakpoints.scss"
 */

@media (max-width: breakpoint-max(sm)) {

	#sidebar {
		margin-top: 60px;
	}

}

.entry-content > * {

	/*margin-left: auto;
	margin-right: auto;
	margin-bottom: 1.25em;*/
}

/* Alignment Classes ------------------------- */


.alignnone,
.aligncenter,
.alignleft,
.alignright,
.alignwide {
	margin-top: 4rem;
	margin-right: auto;
	margin-bottom: 4rem;
	margin-left: auto;
}

[class*="__inner-container"] > *:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright) {
	margin-left: auto;
	margin-right: auto;
}

/* Full */

.alignfull {
	margin-top: 5rem;
	margin-right: auto;
	margin-bottom: 5rem;
	margin-left: auto;
	max-width: 100vw;
	position: relative;
	width: 100%;
}

[class*="__inner-container"] > .alignfull {
	max-width: 100%;
}

/* Wide */

.alignwide {
	max-width: 120rem;
	position: relative;
	width: 100%;
}

[class*="__inner-container"] > .alignwide {
	width: 100%;
}

/* Center */

.aligncenter,
.aligncenter img {
	margin-left: auto;
	margin-right: auto;
}

/* Left and right */

.alignleft,
.alignright {
	max-width: 50%;
}

.alignleft {

	/*rtl:ignore*/
	float: left;
	margin: 0.3rem 2rem 2rem 2rem;
}

.alignright {

	/*rtl:ignore*/
	float: right;
	margin: 0.3rem 2rem 2rem 2rem;
}

[class*="wp-block"].alignfull:not(.has-background) [class*="__inner-container"] > .alignleft,
[class*="wp-block"].alignfull:not(.has-background) [class*="__inner-container"] > p .alignleft,
[class*="wp-block"].alignfull:not(.has-background) [class*="__inner-container"] > .wp-block-image .alignleft {

	/*rtl:ignore*/
	margin-left: 2rem;
}

[class*="wp-block"].alignfull:not(.has-background) [class*="__inner-container"] > .alignright,
[class*="wp-block"].alignfull:not(.has-background) [class*="__inner-container"] > p .alignright,
[class*="wp-block"].alignfull:not(.has-background) [class*="__inner-container"] > .wp-block-image .alignright {

	/*rtl:ignore*/
	margin-right: 2rem;
}

.wp-block-columns {
	margin-bottom: 28px;
	flex-wrap: wrap;
}

@media (min-width: 782px) {

	.wp-block-columns {
		flex-wrap: initial;
	}
}

.wp-block-column {
	flex-grow: 1;
	min-width: 0;
	word-break: break-word;
	overflow-wrap: break-word;
}

@media (max-width: 599px) {

	.wp-block-column {
		flex-basis: initial;
	}
}

@media (min-width: 600px) {

	.wp-block-column {
		flex-basis: initial;
		flex-grow: initial;
	}

	.wp-block-column:nth-child(even) {
		margin-left: 0;
	}
}

@media (min-width: 782px) {

	.wp-block-column:not(:first-child) {
		margin-left: 0;
	}
}

