.list {
  padding: 0 !important;
  list-style-type: none !important;

  &,
  &--ol,
  &--icon {
    li {
      font-size: 1.5rem;
      line-height: 2;
      margin-bottom: 1rem;
      padding-left: 2rem;
      position: relative;

      &:before {
        color: $black;
        content: '•';
        position: absolute;
        left: 0;
      }

      a {
        text-decoration: underline;
      }
    }
  }

  &--ol:not([reversed]) {
    counter-reset: li;

    li {
      counter-increment: li;

      &:before {
        @include OpenSansSemiBold();

        content: counter(li) '.';
        color: $secondary;
      }

      a {
        color: $gray-800;
      }
    }
  }

  &--icon {
    li {
      padding-left: 2.5rem;

      &:before {
        background-color: $secondary;
        background-image: url(~imagesFolder/chevron-forward-outline.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 1.3rem;
        border-radius: 50%;
        content: '';
        height: 1.5rem;
        top: 0.8rem;
        width: 1.5rem;
      }
    }
  }

  &--tick {
    li {
      font-size: 1.8rem;
      line-height: 1.67;
      margin-bottom: 2.5rem;
      min-height: 3rem;
      padding-left: 4.5rem;

      @include media-breakpoint-down(md) {
        font-size: 1.7rem;
        line-height: 2.4rem;
      }

      &:before {
        background-image: url(~imagesFolder/checkmark-outline.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 2rem;
        border: solid 2px $black;
        border-radius: 50%;
        content: '';
        height: 3rem;
        margin-top: -1.5rem;
        top: 50%;
        width: 3rem;

        @include media-breakpoint-down(md) {
          margin-top: 0;
          top: 0;
        }
      }
    }
  }
}
