//
// Top Disclaimer
//------------------------------------
.top-disclaimer p {
  @include OpenSansBold();

  font-size: 1.8rem;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  padding: 0.3rem 1rem;
  color: #383838;

  a {
    @include OpenSansExtraBold();

    color: #383838;
  }
}
